<div class="card">
  <div class="card-content">
    <div class="card-title"><%= @responsibility.name.titleize %></div>
    <div>Details: <%= @responsibility.details.to_s %></div>
    <div>Status: <%= @responsibility.status %></div>
    <div>Start: <%= @responsibility.start_date&.to_date %></div>
    <div>Deadline: <%= @responsibility.deadline&.to_date %>  </div>
  </div>
  <div class="card-action">
    <%= link_to 'back', :back %>
  </div>
</div>